body, html {
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 30px;
    height: 100%;
}
.logo {
    background-image: url('img/phillies-logo.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

:root {
    text-size-adjust: 100%;
}
.active {
    color: pink;
  }
  